{%extends "base.html" %}
{% block title %}Home {% endblock %}

{% block body %}
<!-- <h1 class="font-italic">hello {{ user.first_name }} </h1>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="C:\Users\Nuthi\OneDrive\Desktop\FYP_APP\website\images\fyp_image1.jpg" class="d-block w-100" alt="first image">
      </div>
      <div class="carousel-item">
        <img src="C:\Users\Nuthi\OneDrive\Desktop\FYP_APP\website\images\fyp_image2.jpeg" class="d-block w-100" alt="2nd image">
      </div>
      <div class="carousel-item">
        <img src="C:\Users\Nuthi\OneDrive\Desktop\FYP_APP\website\images\fyp_image3.jpeg" class="d-block w-100" >
      </div>
    </div>
</div>
<div>
  <div> -->

    <div class="jumbotron jumbotron-fluid border border-dark rounded center text-center"  >
      <h1 class="display-4 ">Hello, {{user.first_name}}!</h1>
      <p class="lead ">This is a website used to clarify any doubts about your Hearing Ability.</p>
      <hr class="my-4">
      <p>We use advanced technology to read and interpret your Audiogram chart! </p>
      <p class="lead">
        <a class="shadow__btn" href="/hearing-test0" role="button">Learn more</a>
      </p>
    </div>
    
    
    
    
{% endblock %}