{%extends "base.html" %}
{% block title %}Speech recognition Test {% endblock %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

{% block body %}
  <br>
  <h1>Speech Recognition Test</h1>
  
<div class="card-container">
    <div class="card">
        <img src="/static/images/fyp_image1.jpg" alt="Your Image">
        <div class="card__content">
          <p class="card__title">Card Title</p>
          <br>
          <br>
          <!-- <p class="card__description">This is a card</p> -->
          <div class="button-borders">
            <button class="primary-button"> SELECT</button>
          </div>
        </div>
    </div>
    <div class="card">
        <img src="/static/images/fyp_image1.jpg" alt="Your Image">
        <div class="card__content">
          <p class="card__title">Card Title</p>
          <br>
          <br>
          <!-- <p class="card__description">This is a card</p> -->
          <div class="button-borders">
            <button class="primary-button"> SELECT</button>
          </div>
        </div>
    </div>
    <div class="card">
        <img src="/static/images/fyp_image1.jpg" alt="Your Image">
        <div class="card__content">
          <p class="card__title">Card Title</p>
          <br>
          <br>
          <!-- <p class="card__description">This is a card</p> -->
          <div class="button-borders">
            <button class="primary-button"> SELECT</button>
          </div>
        </div>
    </div>
    <div class="card">
        <img src="/static/images/fyp_image1.jpg" alt="Your Image">
        <div class="card__content">
          <p class="card__title">Card Title</p>
          <br>
          <br>
          <!-- <p class="card__description">This is a card</p> -->
          <div class="button-borders">
            <button class="primary-button"> SELECT</button>
          </div>
        </div>
    </div>
    <div class="card">
        <img src="/static/images/fyp_image1.jpg" alt="Your Image">
        <div class="card__content">
          <p class="card__title">Card Title</p>
          <br>
          <br>
          <!-- <p class="card__description">This is a card</p> -->
          <div class="button-borders">
            <button class="primary-button"> SELECT</button>
          </div>
        </div>
    </div>
    <div class="card">
        <img src="/static/images/fyp_image1.jpg" alt="Your Image">
        <div class="card__content">
          <p class="card__title">Card Title</p>
          <br>
          <br>
          <!-- <p class="card__description">This is a card</p> -->
          <div class="button-borders">
            <button class="primary-button"> SELECT</button>
          </div>
        </div>
    </div>
    

</div>

  
  
{% endblock %}